$primary-color: #ccc;
$secondary-color: #e31b6d;
$home-image: url(../img/image.jpg);
$background-opacity: 0.4;
$text-color: darken($primary-color, 50);

@mixin easeOut {
  transition: all 0.5s ease-out;
}
